{{#each data as |blog|}}
<div class="card">
  <h5 class="card-header">{{blog.dataValues.blog_title}}</h5>
  <div class="card-body">
    <p class="card-text">{{blog.dataValues.blog_body}}</p>
    <p>last updated by {{blog.dataValues.user.dataValues.user_name}} on {{blog.dataValues.updatedAt}}</p>
  </div>
</div>
{{/each}}