<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
              <h2>Enter your log in information</h2>
              <label for="email">email</label>
              <input id="email" type="text">
              <label for="password">password</label>
              <input id="password" type="password">
              <br>
              <input id="loginSub" type="submit" class="btn btn-secondary" value="submit">
              <br>
              <span>new here?   <a href="/api/users/" id="signUpRedirect"> click here to sign up!</a></span>
            </div>
        </div>
    </div>
</div>
<script src="/login.js"></script>