<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
              <h2>Enter your log in information</h2>
              <label for="username">Username</label>
              <input id="username" type="text">
              <label for="email">email</label>
              <input id="email" type="text">
              <label for="password">password</label>
              <input id="password" type="password">
              <label for="password2">Type the Password Again</label>
              <input id="password2" type="password">              
              <br>
              <input id="signUpSub" type="submit" class="btn btn-secondary" value="submit">
              <br>
              <span>Already signed up?   <a href="/api/users/loginPage"> click here to log in!</a></span>
            </div>
        </div>
    </div>
</div>
<script src="/signUp.js"></script>